*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --p-outerFrameHeightTransitionDuration: 0.35s;
  --p-outerFrameHeightIncreaseTransitionDelay: 0.02s;
}
html {
  color: var(--colorText);
  font-family: var(--fontFamily);
  font-size: var(--fontSizeBase);
  line-height: 1.15;
}
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-filter: none;
  filter: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle;
}
input,
select,
textarea {
  color: inherit;
}
input::-webkit-input-placeholder {
  opacity: 1;
}
input::-moz-placeholder {
  opacity: 1;
}
input:-ms-input-placeholder {
  opacity: 1;
}
input::placeholder {
  opacity: 1;
}
a {
  text-decoration: none;
}
button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background: none;
  border: 0;
  cursor: pointer;
  text-transform: none;
}
strong {
  font-weight: var(--fontWeightMedium);
}
.u-fs-base {
  font-size: var(--fontSizeBase);
}
.u-fs-sm {
  font-size: var(--fontSizeSm);
}
.u-fs-xs {
  font-size: var(--fontSizeXs);
}
.u-fs-2xs {
  font-size: var(--fontSize2Xs);
}
.u-fs-3xs {
  font-size: var(--fontSize3Xs);
}
.u-fs-lg {
  font-size: var(--fontSizeLg);
}
.u-fs-xl {
  font-size: var(--fontSizeXl);
}
.u-fs-2xl {
  font-size: var(--fontSize2Xl);
}
.u-fw-light {
  font-weight: var(--fontWeightLight);
}
.u-fw-normal {
  font-weight: var(--fontWeightNormal);
}
.u-fw-medium {
  font-weight: var(--fontWeightMedium);
}
.u-fw-bold {
  font-weight: var(--fontWeightBold);
}
.u-lh {
  line-height: var(--fontLineHeight);
}
.u-color-background {
  color: var(--colorBackground);
}
.u-color-danger {
  color: var(--colorDanger);
}
.u-color-primary {
  color: var(--colorPrimary);
}
.u-color-success {
  color: var(--colorSuccess);
}
.u-color-successText {
  color: var(--colorSuccessText);
}
.u-color-text {
  color: var(--colorText);
}
.u-color-textSecondary {
  color: var(--colorTextSecondary);
}
.u-fill-background {
  fill: var(--colorBackground);
}
.u-fill-danger {
  fill: var(--colorDanger);
}
.u-fill-primary {
  fill: var(--colorPrimary);
}
.u-fill-success {
  fill: var(--colorSuccess);
}
.u-fill-text {
  fill: var(--colorText);
}
.u-fill-textSecondary {
  fill: var(--colorTextSecondary);
}
.u-fill-warning {
  fill: var(--colorWarning);
}
.u-ma-xs {
  margin: var(--p-spacingXs);
}
.u-mt-xs {
  margin-top: var(--p-spacingXs);
}
.p-LTR .u-mr-xs {
  margin-right: var(--p-spacingXs);
}
.p-RTL .u-mr-xs {
  margin-left: var(--p-spacingXs);
}
.u-mb-xs {
  margin-bottom: var(--p-spacingXs);
}
.p-LTR .u-ml-xs {
  margin-left: var(--p-spacingXs);
}
.p-RTL .u-ml-xs {
  margin-right: var(--p-spacingXs);
}
.u-mv-xs {
  margin-bottom: var(--p-spacingXs);
  margin-top: var(--p-spacingXs);
}
.u-mh-xs {
  margin-left: var(--p-spacingXs);
  margin-right: var(--p-spacingXs);
}
.u-ma-sm {
  margin: var(--p-spacingSm);
}
.u-mt-sm {
  margin-top: var(--p-spacingSm);
}
.p-LTR .u-mr-sm {
  margin-right: var(--p-spacingSm);
}
.p-RTL .u-mr-sm {
  margin-left: var(--p-spacingSm);
}
.u-mb-sm {
  margin-bottom: var(--p-spacingSm);
}
.p-LTR .u-ml-sm {
  margin-left: var(--p-spacingSm);
}
.p-RTL .u-ml-sm {
  margin-right: var(--p-spacingSm);
}
.u-mv-sm {
  margin-bottom: var(--p-spacingSm);
  margin-top: var(--p-spacingSm);
}
.u-mh-sm {
  margin-left: var(--p-spacingSm);
  margin-right: var(--p-spacingSm);
}
.u-ma-1 {
  margin: var(--p-spacing1);
}
.u-mt-1 {
  margin-top: var(--p-spacing1);
}
.p-LTR .u-mr-1 {
  margin-right: var(--p-spacing1);
}
.p-RTL .u-mr-1 {
  margin-left: var(--p-spacing1);
}
.u-mb-1 {
  margin-bottom: var(--p-spacing1);
}
.p-LTR .u-ml-1 {
  margin-left: var(--p-spacing1);
}
.p-RTL .u-ml-1 {
  margin-right: var(--p-spacing1);
}
.u-mv-1 {
  margin-bottom: var(--p-spacing1);
  margin-top: var(--p-spacing1);
}
.u-mh-1 {
  margin-left: var(--p-spacing1);
  margin-right: var(--p-spacing1);
}
.u-ma-2 {
  margin: var(--p-spacing2);
}
.u-mt-2 {
  margin-top: var(--p-spacing2);
}
.p-LTR .u-mr-2 {
  margin-right: var(--p-spacing2);
}
.p-RTL .u-mr-2 {
  margin-left: var(--p-spacing2);
}
.u-mb-2 {
  margin-bottom: var(--p-spacing2);
}
.p-LTR .u-ml-2 {
  margin-left: var(--p-spacing2);
}
.p-RTL .u-ml-2 {
  margin-right: var(--p-spacing2);
}
.u-mv-2 {
  margin-bottom: var(--p-spacing2);
  margin-top: var(--p-spacing2);
}
.u-mh-2 {
  margin-left: var(--p-spacing2);
  margin-right: var(--p-spacing2);
}
.u-ma-3 {
  margin: var(--p-spacing3);
}
.u-mt-3 {
  margin-top: var(--p-spacing3);
}
.p-LTR .u-mr-3 {
  margin-right: var(--p-spacing3);
}
.p-RTL .u-mr-3 {
  margin-left: var(--p-spacing3);
}
.u-mb-3 {
  margin-bottom: var(--p-spacing3);
}
.p-LTR .u-ml-3 {
  margin-left: var(--p-spacing3);
}
.p-RTL .u-ml-3 {
  margin-right: var(--p-spacing3);
}
.u-mv-3 {
  margin-bottom: var(--p-spacing3);
  margin-top: var(--p-spacing3);
}
.u-mh-3 {
  margin-left: var(--p-spacing3);
  margin-right: var(--p-spacing3);
}
.u-ma-4 {
  margin: var(--p-spacing4);
}
.u-mt-4 {
  margin-top: var(--p-spacing4);
}
.p-LTR .u-mr-4 {
  margin-right: var(--p-spacing4);
}
.p-RTL .u-mr-4 {
  margin-left: var(--p-spacing4);
}
.u-mb-4 {
  margin-bottom: var(--p-spacing4);
}
.p-LTR .u-ml-4 {
  margin-left: var(--p-spacing4);
}
.p-RTL .u-ml-4 {
  margin-right: var(--p-spacing4);
}
.u-mv-4 {
  margin-bottom: var(--p-spacing4);
  margin-top: var(--p-spacing4);
}
.u-mh-4 {
  margin-left: var(--p-spacing4);
  margin-right: var(--p-spacing4);
}
.u-ma-5 {
  margin: var(--p-spacing5);
}
.u-mt-5 {
  margin-top: var(--p-spacing5);
}
.p-LTR .u-mr-5 {
  margin-right: var(--p-spacing5);
}
.p-RTL .u-mr-5 {
  margin-left: var(--p-spacing5);
}
.u-mb-5 {
  margin-bottom: var(--p-spacing5);
}
.p-LTR .u-ml-5 {
  margin-left: var(--p-spacing5);
}
.p-RTL .u-ml-5 {
  margin-right: var(--p-spacing5);
}
.u-mv-5 {
  margin-bottom: var(--p-spacing5);
  margin-top: var(--p-spacing5);
}
.u-mh-5 {
  margin-left: var(--p-spacing5);
  margin-right: var(--p-spacing5);
}
.u-ma-6 {
  margin: var(--p-spacing6);
}
.u-mt-6 {
  margin-top: var(--p-spacing6);
}
.p-LTR .u-mr-6 {
  margin-right: var(--p-spacing6);
}
.p-RTL .u-mr-6 {
  margin-left: var(--p-spacing6);
}
.u-mb-6 {
  margin-bottom: var(--p-spacing6);
}
.p-LTR .u-ml-6 {
  margin-left: var(--p-spacing6);
}
.p-RTL .u-ml-6 {
  margin-right: var(--p-spacing6);
}
.u-mv-6 {
  margin-bottom: var(--p-spacing6);
  margin-top: var(--p-spacing6);
}
.u-mh-6 {
  margin-left: var(--p-spacing6);
  margin-right: var(--p-spacing6);
}
.u-ma-7 {
  margin: var(--p-spacing7);
}
.u-mt-7 {
  margin-top: var(--p-spacing7);
}
.p-LTR .u-mr-7 {
  margin-right: var(--p-spacing7);
}
.p-RTL .u-mr-7 {
  margin-left: var(--p-spacing7);
}
.u-mb-7 {
  margin-bottom: var(--p-spacing7);
}
.p-LTR .u-ml-7 {
  margin-left: var(--p-spacing7);
}
.p-RTL .u-ml-7 {
  margin-right: var(--p-spacing7);
}
.u-mv-7 {
  margin-bottom: var(--p-spacing7);
  margin-top: var(--p-spacing7);
}
.u-mh-7 {
  margin-left: var(--p-spacing7);
  margin-right: var(--p-spacing7);
}
.u-ma-8 {
  margin: var(--p-spacing8);
}
.u-mt-8 {
  margin-top: var(--p-spacing8);
}
.p-LTR .u-mr-8 {
  margin-right: var(--p-spacing8);
}
.p-RTL .u-mr-8 {
  margin-left: var(--p-spacing8);
}
.u-mb-8 {
  margin-bottom: var(--p-spacing8);
}
.p-LTR .u-ml-8 {
  margin-left: var(--p-spacing8);
}
.p-RTL .u-ml-8 {
  margin-right: var(--p-spacing8);
}
.u-mv-8 {
  margin-bottom: var(--p-spacing8);
  margin-top: var(--p-spacing8);
}
.u-mh-8 {
  margin-left: var(--p-spacing8);
  margin-right: var(--p-spacing8);
}
.u-ma-9 {
  margin: var(--p-spacing9);
}
.u-mt-9 {
  margin-top: var(--p-spacing9);
}
.p-LTR .u-mr-9 {
  margin-right: var(--p-spacing9);
}
.p-RTL .u-mr-9 {
  margin-left: var(--p-spacing9);
}
.u-mb-9 {
  margin-bottom: var(--p-spacing9);
}
.p-LTR .u-ml-9 {
  margin-left: var(--p-spacing9);
}
.p-RTL .u-ml-9 {
  margin-right: var(--p-spacing9);
}
.u-mv-9 {
  margin-bottom: var(--p-spacing9);
  margin-top: var(--p-spacing9);
}
.u-mh-9 {
  margin-left: var(--p-spacing9);
  margin-right: var(--p-spacing9);
}
.u-ma-10 {
  margin: var(--p-spacing10);
}
.u-mt-10 {
  margin-top: var(--p-spacing10);
}
.p-LTR .u-mr-10 {
  margin-right: var(--p-spacing10);
}
.p-RTL .u-mr-10 {
  margin-left: var(--p-spacing10);
}
.u-mb-10 {
  margin-bottom: var(--p-spacing10);
}
.p-LTR .u-ml-10 {
  margin-left: var(--p-spacing10);
}
.p-RTL .u-ml-10 {
  margin-right: var(--p-spacing10);
}
.u-mv-10 {
  margin-bottom: var(--p-spacing10);
  margin-top: var(--p-spacing10);
}
.u-mh-10 {
  margin-left: var(--p-spacing10);
  margin-right: var(--p-spacing10);
}
.u-ma-grid {
  margin: var(--spacingGridRow) var(--spacingGridColumn);
}
.u-mt-grid {
  margin-top: var(--spacingGridRow);
}
.p-LTR .u-mr-grid {
  margin-right: var(--spacingGridColumn);
}
.p-RTL .u-mr-grid {
  margin-left: var(--spacingGridColumn);
}
.u-mb-grid {
  margin-bottom: var(--spacingGridRow);
}
.p-LTR .u-ml-grid {
  margin-left: var(--spacingGridColumn);
}
.p-RTL .u-ml-grid {
  margin-right: var(--spacingGridColumn);
}
.u-mv-grid {
  margin-bottom: var(--spacingGridRow);
  margin-top: var(--spacingGridRow);
}
.u-mh-grid {
  margin-left: var(--spacingGridColumn);
  margin-right: var(--spacingGridColumn);
}
.u-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.u-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.u-justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.u-justify-spaceBetween {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.u-text-center {
  text-align: center;
}
.u-text-left {
  text-align: left;
}
.u-text-right {
  text-align: right;
}
.u-relative {
  position: relative;
}
.u-full-width {
  width: 100%;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-webkit-keyframes shimmer {
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes shimmer {
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.c-InputFontSize {
  font-size: var(--c-inputFontSize);
}
.c-InputFontColor {
  color: var(--c-inputFontColor);
}
.c-InputPadding {
  padding: var(--c-inputPaddingTop) var(--c-inputPaddingRight)
    var(--c-inputPaddingBottom) var(--c-inputPaddingLeft);
}
.c-InputBorderRadius {
  border-radius: var(--c-inputBorderTopLeftRadius)
    var(--c-inputBorderTopRightRadius) var(--c-inputBorderBottomRightRadius)
    var(--c-inputBorderBottomLeftRadius);
}
.c-InputTransparentBorder {
  border-bottom: var(--c-inputBorderBottomWidth) solid transparent;
  border-left: var(--c-inputBorderLeftWidth) solid transparent;
  border-right: var(--c-inputBorderRightWidth) solid transparent;
  border-top: var(--c-inputBorderTopWidth) solid transparent;
}
.c-InputDivider--horizontal {
  background: var(--c-inputDividerBackgroundColor);
  height: var(--c-inputDividerWidth);
  width: 100%;
}
.c-InputDivider--vertical {
  background: var(--c-inputDividerBackgroundColor);
  height: 100%;
  width: var(--c-inputDividerWidth);
}
.c-BlockPadding {
  padding: var(--c-blockPaddingTop) var(--c-blockPaddingRight)
    var(--c-blockPaddingBottom) var(--c-blockPaddingLeft);
}
.c-BlockDivider--horizontal {
  background: var(--c-blockDividerBackgroundColor);
  height: var(--c-blockDividerWidth);
  width: 100%;
}
.c-BlockDivider--vertical {
  background: var(--c-blockDividerBackgroundColor);
  height: 100%;
  width: var(--c-blockDividerWidth);
}
.c-DropdownDivider--horizontal {
  background: var(--c-dropdownDividerBackgroundColor);
  height: var(--c-dropdownDividerWidth);
  width: 100%;
}
.c-DropdownDivider--vertical {
  background: var(--c-dropdownDividerBackgroundColor);
  height: 100%;
  width: var(--c-dropdownDividerWidth);
}
.c-PickerItemPadding {
  padding: var(--c-pickerItemPaddingTop) var(--c-pickerItemPaddingRight)
    var(--c-pickerItemPaddingBottom) var(--c-pickerItemPaddingLeft);
}
.p-LTR .c-ActionNegatePaddingRight,
.p-LTR .c-PickerActionNegatePadding {
  margin-right: calc(var(--c-actionPaddingRight) * -1);
}
.p-RTL .c-ActionNegatePaddingRight,
.p-RTL .c-PickerActionNegatePadding {
  margin-left: calc(var(--c-actionPaddingRight) * -1);
}
.p-LTR .c-ActionNegatePaddingLeft {
  margin-left: calc(var(--c-actionPaddingLeft) * -1);
}
.p-RTL .c-ActionNegatePaddingLeft {
  margin-right: calc(var(--c-actionPaddingLeft) * -1);
}
