.swiper-vertical {
  --swiper-scrollbar-right: 0px;
  --swiper-scrollbar-size: 10px;
  --swiper-scrollbar-sides-offset: 0px;
  --swiper-scrollbar-bg-color: rgba(255, 255, 255, 0.2);
  --swiper-scrollbar-drag-bg-color: rgba(255, 255, 255, 0.6);
}

