@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root, .light, .light-theme {
    
    --fg-0: hsl(0 0% 0%);
    --fg-1: hsl(0 0% 20%);
    --fg-2: hsl(0 0% 35%);
    --fg-3: hsl(0 0% 50%);
    --fg-4: hsl(0 0% 70%);

    --bg-0: hsl(0 0% 100%);
    --bg-1: hsl(0 0% 90%);
    --bg-2: hsl(0 0% 75%);
    --bg-3: hsl(0 0% 55%);

    --bg-inverted: var(--fg-0);
    --bg-inverted-hover:  hsla(0, 0%, 0%, 0.85);

    --fg-inverted: var(--bg-0);

    --secondary-0: hsl(266, 79%, 80%);
    --secondary-1: hsl(266, 79%, 70%);
    --secondary-2: hsl(266, 79%, 60%);
    --secondary-3: hsl(266, 79%, 50%);

    --background: var(--bg-0);
    --foreground: var(--fg-0);

    --card: var(--bg-0);
    --card-foreground: var(--fg-0);

    --popover: var(--bg-1);
    --popover-foreground: var(--fg-0);

    --primary: var(--bg-inverted);
    --primary-hover: var(--bg-inverted-hover);
    --primary-foreground: var(--fg-inverted);

    --secondary: var(--secondary-0);
    --secondary-hover: var(--secondary-2);
    --secondary-foreground: var(--fg-0);

    --nav: var(--fg-4);
    --nav-current: var(--fg-0);
    --nav-hover: var(--fg-0);

    --muted: var(--bg-2);
    --muted-foreground:var(--fg-2);

    --very-muted: var(--bg-3);
    --very-muted-foreground:var(--fg-4);

    --accent: var(--bg-1);
    --accent-foreground: var(--fg-0);

    --destructive: hsl(0 62.8% 45%);
    --destructive-hover: hsl(0 62.8% 25%);
    --destructive-foreground: hsl(0 0% 100%);


    --border: var(--bg-2);
    --border-accented: var(--fg-0);
    --input: var(--bg-1);
    --ring: var(--fg-1);

    --radius: 0.5rem;
  }
 
  .dark, .dark-theme {

    --fg-0: hsl(0 0% 100%);
    --fg-1: hsl(0 0% 85%);
    --fg-2: hsl(0 0% 70%);
    --fg-3: hsl(0 0% 55%);
    --fg-4: hsl(0 0% 35%);

    --bg-inverted: var(--fg-0);
    --bg-inverted-hover:  hsla(0, 0%, 100%, 0.85);

    --bg-3: hsl(0 0% 55%);
    --bg-2: hsl(0 0% 32%);
    --bg-1: hsl(0 0% 17%);
    --bg-0: hsl(0 0% 0%);

    --fg-inverted: var(--bg-0);

    --secondary-0: hsl(266, 79%, 40%);
    --secondary-1: hsl(266, 79%, 50%);
    --secondary-2: hsl(266, 79%, 60%);
    --secondary-3: hsl(266, 79%, 70%);

    --background: var(--bg-0);
    --foreground: var(--fg-0);

    --card: var(--bg-0);
    --card-foreground: var(--fg-0);

    --popover: var(--bg-1);
    --popover-foreground: var(--fg-0);

    --primary: var(--bg-inverted);
    --primary-hover: var(--bg-inverted-hover);
    --primary-foreground: var(--fg-inverted);

    --secondary: var(--secondary-0);
    --secondary-hover: var(--secondary-2);
    --secondary-foreground: var(--fg-0);

    --nav: var(--fg-4);
    --nav-current: var(--fg-0);
    --nav-hover: var(--fg-0);

    --muted: var(--bg-2);
    --muted-foreground:var(--fg-2);

    --very-muted: var(--bg-3);
    --very-muted-foreground:var(--fg-4);

    --accent: var(--bg-1);
    --accent-foreground: var(--fg-0);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-hover: hsl(0 62.8% 40.6%);
    --destructive-foreground: hsl(0 0% 100%);

    --border: var(--bg-2);
    --border-accented: var(--fg-0);
    --input: var(--bg-1);
    --ring: var(--fg-1);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    font-family: 'initial' 
  }
  body {
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
