@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    
    --dk-fg-0: hsl(0 0% 100%);
    --dk-fg-1: hsl(0 0% 85%);
    --dk-fg-2: hsl(0 0% 70%);
    --dk-fg-3: hsl(0 0% 55%);

    --dk-bg-inverted: var(--dk-fg-0);
    --dk-bg-inverted-hover:  hsla(0, 0%, 100%, 0.85);

    --dk-bg-3: hsl(0 0% 50%);
    --dk-bg-2: hsl(0 0% 32%);
    --dk-bg-1: hsl(0 0% 17%);
    --dk-bg-0: hsl(0 0% 0%);

    --dk-fg-inverted: var(--dk-bg-0);
    
    --background: hsl(0 0% 100%);
    --foreground: hsl(240 10% 3.9%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(240 10% 3.9%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(240 10% 3.9%);
    --primary: hsl(240 5.9% 10%);
    --primary-hover: hsl(240 3.8% 46.1%);
    --primary-foreground: hsl(0 0% 98%);
    --secondary: hsl(240 4.8% 95.9%);
    --secondary-foreground: hsl(240 5.9% 10%);
    --muted: hsl(240 4.8% 95.9%);
    --muted-foreground: hsl(240 3.8% 46.1%);
    --accent: hsl(240 4.8% 95.9%);
    --accent-foreground: hsl(240 5.9% 10%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(240 5.9% 90%);
    --input: hsl(240 5.9% 90%);
    --ring: hsl(240 5.9% 10%);

     --radius: 0.5rem;
  }
 
  .dark {

    --background: var(--dk-bg-0);
    --foreground: var(--dk-fg-0);

    --card: var(--dk-bg-0);
    --card-foreground: var(--dk-fg-0);

    --popover: var(--dk-bg-1);
    --popover-foreground: var(--dk-fg-0);

    --primary: var(--dk-bg-inverted);
    --primary-hover: var(--dk-bg-inverted-hover);
    --primary-foreground: var(--dk-fg-inverted);

      /* LUX is not using */
    --secondary: var(--dk-bg-2);
    --secondary-hover: var(--dk-bg-3);
    --secondary-foreground: var(--dk-fg-0);

    --nav: var(--dk-fg-2);
    --nav-current: var(--dk-fg-0);
    --nav-hover: var(--dk-fg-0);

    --muted: var(--dk-bg-2);
    --muted-foreground:var(--dk-fg-2);

    --accent: var(--dk-bg-1);
    --accent-foreground: var(--dk-fg-0);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-hover: hsl(0 62.8% 40.6%);
    --destructive-foreground: hsl(0 0% 100%);

    --border: var(--dk-fg-3);
    --border-accented: var(--dk-fg-0);
    --input: var(--dk-bg-1);
    --ring: var(--dk-fg-1);

    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
