@font-face {
  font-family: 'Druk Wide';
  src: url('/assets/fonts/DrukWide-Medium.ttf') format('truetype'), url('/assets/fonts/DrukWide-Medium-Trial.otf') format('opentype'), url('/assets/fonts/DrukWide-Medium-Trial.otf') format('opentype'), url('/assets/fonts/DrukWide-Medium-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Druk Wide';
  src: url('/assets/fonts/Druk-Wide-Bold.ttf') format('truetype'), url('/assets/fonts/DrukWide-Bold-Trial.otf') format('opentype'), url('/assets/fonts/DrukWide-Bold-Trial.otf') format('opentype'), url('/assets/fonts/DrukTextWide-Bold-Trial.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Druk Wide Super Web';
  src: url('/assets/fonts/DrukWide-Super-Web.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Material Icons';
  src: url('/assets/fonts/MaterialIcons-Regular.ttf') format('truetype'), url('/assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Druk Wide';
  src: url('/assets/fonts/DrukWide-Heavy-Trial.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Druk Wide';
  src: url('/assets/fonts/DrukWide-Super-Trial.otf') format('opentype'), url('/assets/fonts/DrukWide-Heavy-Trial.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Druk Text Wide';
  src: url('/assets/fonts/DrukTextWide-Heavy-Trial.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Druk Text Wide';
  src: url('/assets/fonts/DrukTextWide-Medium-Trial.otf') format('opentype'), url('/assets/fonts/DrukTextWide-Medium-Trial.otf') format('opentype'), url('/assets/fonts/DrukTextWide-Medium-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Druk Text Wide';
  src: url('/assets/fonts/DrukTextWide-Bold-Trial.otf') format('opentype'), url('/assets/fonts/DrukTextWide-Bold-Trial.otf') format('opentype'), url('/assets/fonts/DrukWide-Bold-Trial.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Druk Text Wide';
  src: url('/assets/fonts/DrukTextWide-Super-Trial.otf') format('opentype'), url('/assets/fonts/DrukTextWide-Heavy-Trial.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Druk Text';
  src: url('/assets/fonts/DrukText-Heavy-Trial.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Druk Text';
  src: url('/assets/fonts/DrukText-Medium-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Druk Text';
  src: url('/assets/fonts/DrukText-Super-Trial.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Druk Text';
  src: url('/assets/fonts/DrukText-Bold-Trial.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Druk Condensed';
  src: url('/assets/fonts/DrukCond-Super-Trial.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Druk';
  src: url('/assets/fonts/Druk-Heavy-Trial.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Druk';
  src: url('/assets/fonts/Druk-Bold-Trial.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Druk';
  src: url('/assets/fonts/Druk-Medium-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Druk';
  src: url('/assets/fonts/Druk-Super-Trial.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Material Icons Sharp';
  src: url('/assets/fonts/MaterialIconsSharp-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Druk Text Wide';
  src: url('/assets/fonts/DrukTextWide-Super-Trial.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Druk Wide';
  src: url('/assets/fonts/DrukWide-Super-Trial.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
